<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="text-center margin-bottom10">
      <h1>Edit Item</h1>
      <%= link_to 'item一覧へ', items_path %>
    </div>

    <%= render 'items/item_form', item: @item %>

    <div class="text-center mt10">
      <%= link_to '削除する', item_path(@item), method: :delete, class: 'btn btn-danger', data: { confirm: '本当に削除しますか?' } %>
    </div>
    
  </div>
</div>
