@charset "utf-8";

body {
  margin-bottom: 50px;
}

.mt10 {
  margin-top: 10px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.item {
  float: left;
  margin-right: 20px;
}

.table-style {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 2em;
}

.table-style th,
.table-style td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table-style th {
  background-color: #f5f5f5;
}
